fastapi==0.115.0
uvicorn==0.34.0
python-dotenv==1.0.1
aiohttp==3.9.5
numpy==1.26.4
pydantic==2.6.4
beautifulsoup4==4.12.3
html2text==2024.2.26
tqdm==4.66.2
markdown==3.6
python-multipart==0.0.9
setuptools
aiofiles==23.2.1
pillow==10.3.0
openai==1.30.1
